{
  "openapi": "3.0.3",
  "info": {
    "title": "MASKAI Bridge API",
    "description": "API for Custom GPT to interact with MASKAI bot and Hermes agent",
    "version": "1.0.0"
  },
  "servers": [{"url": "https://bot.maskai.my.id"}],
  "security": [{"ApiKeyAuth": []}],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/api/v1/status": {
      "get": {
        "summary": "Bot health",
        "operationId": "getStatus",
        "responses": {
          "200": {
            "description": "Status ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bot": {"type": "string"},
                    "uptime_seconds": {"type": "integer"},
                    "project": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logs": {
      "get": {
        "summary": "Read error logs",
        "operationId": "getLogs",
        "parameters": [
          {"name": "lines", "in": "query", "schema": {"type": "string", "default": "50"}},
          {"name": "level", "in": "query", "schema": {"type": "string", "default": "ERROR"}}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {"application/json": {"schema": {"type": "object"}}}
          }
        }
      }
    },
    "/api/v1/files/{path}": {
      "get": {
        "summary": "Read project file",
        "operationId": "getFile",
        "parameters": [
          {"name": "path", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {"application/json": {"schema": {"type": "object"}}}
          }
        }
      }
    },
    "/api/v1/tasks": {
      "post": {
        "summary": "Submit task",
        "operationId": "createTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_type": {"type": "string", "enum": ["debug","analyze","report","suggest"]},
                  "instruction": {"type": "string"},
                  "dry_run": {"type": "boolean", "default": true}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {"application/json": {"schema": {"type": "object"}}}
          }
        }
      }
    }
  }
}
